<!-- <p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/images/IDSN-logo.png" width="200" alt="Skills Network Logo">
    </a>
</p> -->

# **Getting Started With Spark using Python**

![](http://spark.apache.org/images/spark-logo.png)

### The Python API

Spark is written in Scala, which compiles to Java bytecode, but you can write python code to communicate to the java virtual machine through a library called py4j. Python has the richest API, but it can be somewhat limiting if you need to use a method that is not available, or if you need to write a specialized piece of code. The latency associated with communicating back and forth to the JVM can sometimes cause the code to run slower.
An exception to this is the SparkSQL library, which has an execution planning engine that precompiles the queries. Even with this optimization, there are cases where the code may run slower than the native scala version.
The general recommendation for PySpark code is to use the "out of the box" methods available as much as possible and avoid overly frequent (iterative) calls to Spark methods. If you need to write high-performance or specialized code, try doing it in scala.
But hey, we know Python rules, and the plotting libraries are way better. So, it's up to you!

## Objectives

In this Notebook, we will go over the basics of Apache Spark and PySpark. We will start with creating the SparkContext and SparkSession. We then create an RDD and apply some basic transformations and actions. Finally we demonstrate the basics dataframes and SparkSQL.

After this Notebook you will be able to:

* Create the SparkContext and SparkSession
* Create an RDD and apply some basic transformations and actions to RDDs
* Demonstrate the use of the basics Dataframes and SparkSQL

----

## Setup

For this lab, we are going to be using Python and Spark (PySpark). These libraries should be installed in your lab environment or in SN Labs.

In [20]:
# Installing required packages
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in /home/mehran/Projects/BigDataHadop&Spark/.venv/lib/python3.11/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/mehran/Projects/BigDataHadop&Spark/.venv/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in /home/mehran/Projects/BigDataHadop&Spark/.venv/lib/python3.11/site-packages (2.0.1)

In [21]:
import findspark
findspark.init()

In [22]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the spark context. 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

## Spark Context and Spark Session

In this exercise, you will create the Spark Context and initialize the Spark session needed for SparkSQL and DataFrames.
SparkContext is the entry point for Spark applications and contains functions to create RDDs such as `parallelize()`. SparkSession is needed for SparkSQL and DataFrame operations.

####  Creating the spark session and context

In [ ]:
# Creating a spark context class
sc = SparkContext()

# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

####  Initialize Spark session
To work with dataframes we just need to verify that the spark session instance has been created.

In [ ]:
spark

##  RDDs
In this exercise we work with Resilient Distributed Datasets (RDDs). RDDs are Spark's primitive data abstraction and we use concepts from functional programming to create and manipulate RDDs.

####  Create an RDD.
For demonstration purposes, we create an RDD here by calling `sc.parallelize()`  
We create an RDD which has integers from 1 to 30.

In [ ]:
data = range(1,100)
# print first element of iterator
print("length of Data is",len(data))
xrangeRDD = sc.parallelize(data, len(data))

# this will let us know that we created an RDD
xrangeRDD

length of Data is 99

PythonRDD[1] at RDD at PythonRDD.scala:53

####  Transformations

A transformation is an operation on an RDD that results in a new RDD. The transformed RDD is generated rapidly because the new RDD is lazily evaluated, which means that the calculation is not carried out when the new RDD is generated. The RDD will contain a series of transformations, or computation instructions, that will only be carried out when an action is called. In this transformation, we reduce each element in the RDD by 1. Note the use of the lambda function. We also then filter the RDD to only contain elements <10.

In [ ]:
subRDD = xrangeRDD.map(lambda x: x-1)
filteredRDD = subRDD.filter(lambda x : x<50)

####  Actions

A transformation returns a result to the driver. We now apply the `collect()` action to get the output from the transformation.

In [ ]:
print(filteredRDD.collect())
filteredRDD.count()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

50

####  Caching Data

This simple example shows how to create an RDD and cache it. Notice the **10x speed improvement**!  If you wish to see the actual computation time, browse to the Spark UI...it's at `localhost:4040`.  You'll see that the second calculation took much less time!

In [ ]:
import time 

test = sc.parallelize(range(1,50000),4)
test.cache()

t1 = time.time()
# first count will trigger evaluation of count *and* cache
count1 = test.count()
dt1 = time.time() - t1
print("dt1: ", dt1)


t2 = time.time()
# second count operates on cached data only
count2 = test.count()
dt2 = time.time() - t2
print("dt2: ", dt2)

#test.count()

dt1:  0.6610550880432129
dt2:  0.3174583911895752

##  DataFrames and SparkSQL

In order to work with the extremely powerful SQL engine in Apache Spark, you will need a Spark Session. We have created that in the first Exercise, let us verify that spark session is still active.

In [ ]:
spark

####  Create Your First DataFrame!

You can create a structured data set (much like a database table) in Spark.  Once you have done that, you can then use powerful SQL tools to query and join your dataframes.

In [ ]:
# Spark SQL provides spark.read().csv("file_name") to read a file or directory of files in CSV format into Spark DataFrame.
df = spark.read.option("header", True).csv("Datasets/us-500.csv").cache()

In [24]:
# Print the dataframe as well as the data schema
df.show()
df.printSchema()

+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
|first_name|last_name|        company_name|             address|         city|        county|state|  zip|      phone1|      phone2|               email|                 web|
+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
|     James|     Butt|   Benton, John B Jr|  6649 N Blue Gum St|  New Orleans|       Orleans|   LA|70116|504-621-8927|504-845-1427|     jbutt@gmail.com|http://www.benton...|
| Josephine|  Darakjy|Chanay, Jeffrey A...| 4 B Blue Ridge Blvd|     Brighton|    Livingston|   MI|48116|810-292-9388|810-374-9840|josephine_darakjy...|http://www.chanay...|
|       Art|   Venere| Chemel, James L Cpa|8 W Cerritos Ave #54|   Bridgeport|    Gloucester|   NJ|08014|856-636-8749|856-264-4130|      art@venere.org|http://www.chemel...|
|     Lenna| Paprocki|Feltz Printing Se...|         639 Main St|    Anchorage|     Anchorage|   AK|99501|907-385-4412|907-921-2010|lpaprocki@hotmail...|http://www.feltzp...|
|   Donette|   Foller| Printing Dimensions|        34 Center St|     Hamilton|        Butler|   OH|45011|513-570-1893|513-549-4561|donette.foller@co...|http://www.printi...|
|    Simona|  Morasca| Chapman, Ross E Esq|        3 Mcauley Dr|      Ashland|       Ashland|   OH|44805|419-503-2484|419-800-6759|  simona@morasca.com|http://www.chapma...|
|    Mitsue|  Tollner|  Morlong Associates|           7 Eads St|      Chicago|          Cook|   IL|60632|773-573-6914|773-924-8565|mitsue_tollner@ya...|http://www.morlon...|
|     Leota| Dilliard|    Commercial Press|    7 W Jackson Blvd|     San Jose|   Santa Clara|   CA|95111|408-752-3500|408-813-1105|   leota@hotmail.com|http://www.commer...|
|      Sage|   Wieser|Truhlar And Truhl...|    5 Boston Ave #88|  Sioux Falls|     Minnehaha|   SD|57105|605-414-2147|605-794-4895| sage_wieser@cox.net|http://www.truhla...|
|      Kris|  Marrier|King, Christopher...|228 Runamuck Pl #...|    Baltimore|Baltimore City|   MD|21224|410-655-8723|410-804-4694|      kris@gmail.com|http://www.kingch...|
|     Minna|   Amigon|   Dorl, James J Esq|    2371 Jerrold Ave|   Kulpsville|    Montgomery|   PA|19443|215-874-1229|215-422-8694|minna_amigon@yaho...|http://www.dorlja...|
|      Abel|  Maclead| Rangoni Of Florence|  37275 St  Rt 17m M|Middle Island|       Suffolk|   NY|11953|631-335-3414|631-677-3675|  amaclead@gmail.com|http://www.rangon...|
|     Kiley|Caldarera|         Feiner Bros|    25 E 75th St #69|  Los Angeles|   Los Angeles|   CA|90034|310-498-5651|310-254-3084|kiley.caldarera@a...|http://www.feiner...|
|  Graciela|     Ruta|Buckley Miller & ...|98 Connecticut Av...|Chagrin Falls|        Geauga|   OH|44023|440-780-8425|440-579-7763|       gruta@cox.net|http://www.buckle...|
|     Cammy|  Albares|Rousseaux, Michae...|    56 E Morehead St|       Laredo|          Webb|   TX|78045|956-537-6195|956-841-7216|  calbares@gmail.com|http://www.rousse...|
|    Mattie| Poquette|Century Communica...| 73 State Road 434 E|      Phoenix|      Maricopa|   AZ|85013|602-277-4385|602-953-6360|      mattie@aol.com|http://www.centur...|
|   Meaghan|   Garufi|  Bolton, Wilbur Esq| 69734 E Carrillo St| Mc Minnville|        Warren|   TN|37110|931-313-9635|931-235-7959| meaghan@hotmail.com|http://www.bolton...|
|    Gladys|      Rim|T M Byxbee Compan...|322 New Horizon Blvd|    Milwaukee|     Milwaukee|   WI|53207|414-661-9598|414-377-2880|  gladys.rim@rim.org|http://www.tmbyxb...|
|      Yuki|  Whobrey|Farmers Insurance...|    1 State Route 27|       Taylor|         Wayne|   MI|48180|313-288-7937|313-341-4470|yuki_whobrey@aol.com|http://www.farmer...|
|  Fletcher|    Flosi|Post Box Services...| 394 Manchester Blvd|     Rockford|     Winnebago|   IL|61109|815-828-2147|815-426-5657|fletcher.flosi@ya...|http://www.postbo...|
+----------+---------+--------------------+--------------------+-------------+--------------+-----+-----+------------+------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- phone1: string (nullable = true)
 |-- phone2: string (nullable = true)
 |-- email: string (nullable = true)
 |-- web: string (nullable = true)

In [ ]:
# Register the DataFrame as a SQL temporary view
df.createTempView("us_500")

####  Explore the data using DataFrame functions and SparkSQL

In this section, we explore the datasets using functions both from dataframes as well as corresponding SQL queries using sparksql. Note the different ways to achieve the same task!

In [ ]:
# Select and show basic data columns

df.select("first_name").show() 
# or
df.select(df["first_name"]).show()

+----------+
|first_name|
+----------+
|     James|
| Josephine|
|       Art|
|     Lenna|
|   Donette|
|    Simona|
|    Mitsue|
|     Leota|
|      Sage|
|      Kris|
|     Minna|
|      Abel|
|     Kiley|
|  Graciela|
|     Cammy|
|    Mattie|
|   Meaghan|
|    Gladys|
|      Yuki|
|  Fletcher|
+----------+
only showing top 20 rows

+----------+
|first_name|
+----------+
|     James|
| Josephine|
|       Art|
|     Lenna|
|   Donette|
|    Simona|
|    Mitsue|
|     Leota|
|      Sage|
|      Kris|
|     Minna|
|      Abel|
|     Kiley|
|  Graciela|
|     Cammy|
|    Mattie|
|   Meaghan|
|    Gladys|
|      Yuki|
|  Fletcher|
+----------+
only showing top 20 rows

In [ ]:
# Select and show basic data columns using sql

spark.sql("SELECT first_name FROM us_500").show()

+----------+
|first_name|
+----------+
|     James|
| Josephine|
|       Art|
|     Lenna|
|   Donette|
|    Simona|
|    Mitsue|
|     Leota|
|      Sage|
|      Kris|
|     Minna|
|      Abel|
|     Kiley|
|  Graciela|
|     Cammy|
|    Mattie|
|   Meaghan|
|    Gladys|
|      Yuki|
|  Fletcher|
+----------+
only showing top 20 rows

In [ ]:
# Perform basic filtering using dataframe
df.filter(df["city"] == "Chicago").show()

+----------+---------+--------------------+--------------------+-------+------+-----+-----+------------+------------+--------------------+--------------------+
|first_name|last_name|        company_name|             address|   city|county|state|  zip|      phone1|      phone2|               email|                 web|
+----------+---------+--------------------+--------------------+-------+------+-----+-----+------------+------------+--------------------+--------------------+
|    Mitsue|  Tollner|  Morlong Associates|           7 Eads St|Chicago|  Cook|   IL|60632|773-573-6914|773-924-8565|mitsue_tollner@ya...|http://www.morlon...|
|      Viva|  Toelkes|   Mark Iv Press Ltd|      4284 Dorigo Ln|Chicago|  Cook|   IL|60647|773-446-5569|773-352-3437|viva.toelkes@gmai...|http://www.markiv...|
|     Marti|  Maybury|Eldridge, Kristin...|4 Warehouse Point...|Chicago|  Cook|   IL|60638|773-775-4522|773-539-1058|marti.maybury@yah...|http://www.eldrid...|
|  Valentin|   Klimek|Schmid, Gayanne K...|     137 Pioneer Way|Chicago|  Cook|   IL|60604|312-303-5453|312-512-2338|  vklimek@klimek.org|http://www.schmid...|
|   Carmela|   Cookey|Royal Pontiac Old...|   9 Murfreesboro Rd|Chicago|  Cook|   IL|60623|773-494-4195|773-297-9391|  ccookey@cookey.org|http://www.royalp...|
|     Erick|   Nievas|    Soward, Anne Esq|      45 E Acacia Ct|Chicago|  Cook|   IL|60624|773-704-9903|773-359-6109|erick_nievas@aol.com|http://www.soward...|
|  Nichelle|   Meteer|        Print Doctor|    72 Beechwood Ter|Chicago|  Cook|   IL|60657|773-225-9985|773-857-2231|nichelle_meteer@m...|http://www.printd...|
+----------+---------+--------------------+--------------------+-------+------+-----+-----+------------+------------+--------------------+--------------------+

In [ ]:
# Perform basic filtering using sql

spark.sql("SELECT first_name, city  FROM us_500 WHERE city='Chicago' ").show()

+----------+-------+
|first_name|   city|
+----------+-------+
|    Mitsue|Chicago|
|      Viva|Chicago|
|     Marti|Chicago|
|  Valentin|Chicago|
|   Carmela|Chicago|
|     Erick|Chicago|
|  Nichelle|Chicago|
+----------+-------+

In [ ]:
# Perfom basic aggregation of data using dataframe
df.groupBy("city").count().show()

+-------------+-----+
|         city|count|
+-------------+-----+
|    Fairbanks|    2|
|    Worcester|    3|
|      Hanover|    1|
|Bowling Green|    1|
|   Harrisburg|    1|
|     Palatine|    1|
|     Harrison|    1|
|      Phoenix|    5|
|   Plainfield|    1|
|  Cherry Hill|    2|
|  Cedar Grove|    1|
|   Perrysburg|    1|
|     Brighton|    1|
|   Toms River|    1|
|     Lynbrook|    1|
|        Omaha|    1|
|    Anchorage|    4|
|    Hampstead|    1|
|      Bothell|    1|
|      Anaheim|    1|
+-------------+-----+
only showing top 20 rows

In [ ]:
# Perfom basic aggregation of data using sql
spark.sql("SELECT city, COUNT(city) as count FROM us_500 GROUP BY city").show()

+-------------+-----+
|         city|count|
+-------------+-----+
|    Fairbanks|    2|
|    Worcester|    3|
|      Hanover|    1|
|Bowling Green|    1|
|   Harrisburg|    1|
|     Palatine|    1|
|     Harrison|    1|
|      Phoenix|    5|
|   Plainfield|    1|
|  Cherry Hill|    2|
|  Cedar Grove|    1|
|   Perrysburg|    1|
|     Brighton|    1|
|   Toms River|    1|
|     Lynbrook|    1|
|        Omaha|    1|
|    Anchorage|    4|
|    Hampstead|    1|
|      Bothell|    1|
|      Anaheim|    1|
+-------------+-----+
only showing top 20 rows

----

## Authors

[Mehran Morabbi Pazoki](https://www.linkedin.com/in/mehran-pazoki-6a3372175/)